

.navigation button{

    height:35px;
    width:90px;
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    box-shadow: 20px;

    float:left;
    text-shadow: 10px;
    color: white;
    margin-left: 5px;
    box-shadow: 1px 1px 5px rgb(137,131,131);
}
.navigation button:hover{
    background-color: black;
    color:white;
    height: 40px;
width: 95px;
}
.navigation button:active{
    background-color: rgb(9, 128, 33);
    color:white;
}

fieldset{
background-color: rgb(60, 60, 60);
border: 0px;

position: sticky;
height: 46px;


}
div input{
margin-top: 5px;
border-radius: 5px;
height:22px;
float:right;
width: 250px;
}
#login{
    height:35px;
    width:90px;
    background-color: rgb(9, 128, 33);
    border-radius: 5px;
    box-shadow: none;
    float:right;
    text-shadow: 10px;
    color: white;
    margin-right: 5px;

}
#login:hover{
background-color: rgb(54, 30, 212);
height: 40px;
width: 95px;
cursor: pointer;
}



